body {
    font-family:  "Montserrat", sans-serif;
}

p {
    color:  #FF6060;
    font-size: 24px;
    font-weight: normal;
}

.error {
  font-size: 288px;
  font-weight: 700;
  color:  #FF6060 !important;
  margin: 100px 0;
}

.backHome {
  text-align: center !important;
  text-decoration: underline !important;
  font-size: 18px;
  margin-top: 100px;
}

 .container-fluid {
    max-width: 1240px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
}


@media (min-width: 1301px) and (max-width: 1439px) {
    .container-fluid {
        max-width: 1100px;
        }
  }
    
@media (max-width: 1300px) {
    .container-fluid {
      max-width: 940px;
      margin: 30px auto;
    }
  }

  @media (max-width: 992px) {
    .container-fluid {
      max-width: 550px;
      margin: 20px auto;
    }   
    .error {
      font-size: 196px;      
      margin: 126px 0;
    }
  }

@media (max-width: 576px) {
    .container-fluid {
      max-width: 370px;
      margin: 20px auto;
    }
    .error {
      font-size: 96px !important;      
      margin-top: 120px !important;
      text-align: center;
    }
    .backHome {
      text-transform: lowercase;
      font-size: 14px;
    }
  }

@media (max-width: 420px) {
    .container-fluid {
      max-width: 335px;
      margin: 20px auto;
    }
        
  }

  @media (max-width: 320px) {
    .container-fluid {
      max-width: 280px;
      margin: 20px 10px;
    }   
        
  }